.het {
    width: 496px;
    float: right;
    margin-right: 50px;
    font-family: 'Poppins', sans-serif;

}
h1 {
    display: inline-block;
    position: relative;
    top: 100px;
    left: 90px;
    width: 496px;
    font-family: 'PT Serif', serif;
    font-size: 36px;
}
.container1{
        display: flex;
        justify-content: space-evenly;
}
.container2{
    display: flex;
        justify-content: space-evenly;
}
.resim{
    position: relative;
    top: 100px;
    right: 50px;
}
span {
    font-family: 'PT Serif', serif;
    font-size: small;
    position: absolute;
    writing-mode: vertical-rl;
    margin-left: 20px;
    top: 0;

}
img{
    width: 300px;
    border-radius: 5px;

}
.resim p{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

    
}
.asagı{
    position: relative;
    margin-top: 40px;
}