*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

.het {
    font-family: 'Poppins', sans-serif;
    width: 50%;
    
    

}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
   
}
h1 {
    
    font-family: 'PT Serif', serif;
    font-size: 36px;
}
.container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-left: 4em;
        margin-top: 2em;
    

        
}
.resim{
    width:33%;
    position: relative;
   
}
span {
    font-family: 'PT Serif', serif;
    font-size: 12px;
    writing-mode: vertical-rl;
    position: absolute;
    margin-left: 20px;
    top: 0;

}
img{
border-radius: 10px;
width: 75%;
}
.resim p{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

    
}
.asagı{
    margin-top: 40px;
}
@media(max-width:768px){
    .resim{
        width:50%;
        position: relative;
    }
    .het{
        width: 70%;
    }
    header{
        margin-top: -4px;
    }
    span{
        font-size: 8px;
        margin-left: -0.1em;
    }
}